In [1]:
print("hello world")

hello world

In [3]:
if 5 > 2:
    print("five is greater than two") #this is a comment

five is greater than two

In [3]:
name = input("what is your name?")
print(f"Hello i hope you are doing well. My name is " + name)

Hello i hope you are doing well. My name is Charity Njoki

In [4]:
x = 5 
y = "john"
print(x)
print(y)

5
john

In [9]:

a,b,c  = 1,2,"john"
print(a)
print(b)
print(c)

1
2
john

In [11]:
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

In [ ]:
x = 1 #int
y = 2.8 #float
z= 1j #complex

In [12]:
x = 4 
y = "shahid"
z = 5.987

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
x = 1458
y = 67
z = 7

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
x = -1.458
y = 67.5553
z = 7.7789

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [16]:
x = -4j
y = 67j
z = 79j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [5]:
name = input("what is your name?")
print(f"Hello i hope you are doing well. My name is " + name)

num = input("Enter first number: ")
num2 = input("Enter second number: ")
sum = float(num) + float(num2)
print("The sum of {0} and {1} is {2}".format(num, num2, sum))

Hello i hope you are doing well. My name is Charity Njoroge
The sum of 8 and 9 is 17.0

In [6]:
sub = float(num) - float(num2)
print("The subtraction of {0} and {1} is {2}".format(num, num2, sub))

The subtraction of 8 and 9 is -1.0

In [7]:
mult = float(num) * float(num2)
print("The multiplication of {0} and {1} is {2}".format(num, num2, mult))

The multiplication of 8 and 9 is 72.0

In [9]:
num = input("Enter first number: ")
num2 = input("Enter second number: ")

try:
    divide = float(num) / float(num2)
    print(divide)
except ZeroDivisionError:
    print("You can't divide by zero")

0.875

In [1]:
x = 1
y = 2.8
z = 1j

#convert int to float 
a = float(x)

#convert float to int
b = int(y)

#convert int to complex
c = complex(x)

print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [2]:
a = "Charity Njoki Njoroge" #string
print(len(a)) #length of the string

21

In [3]:
b = "Hello, World!"
S = b[2:5] #slicing starting from the 3rd (index 2) character to the 5th (index 5) character
print(S)

llo

In [4]:
b = "Hello, World!" 
print(b[:5]) #slicing from the start to the 5th character

Hello

In [5]:
b = "Hello, World!"
print(b[2:]) #slicing from the 3rd character to the end of the string

llo, World!

In [6]:
a = "Hello, Charity!"
B = a.upper() #converts the string to uppercase
print(B)

HELLO, CHARITY!

In [7]:
a = "Hello, Charity!"
B = a.lower() #converts the string to lowercase
print(B)

hello, charity!

In [10]:
a = "Hello, World!"
B = a.replace("H", "J") #replaces a string with another string
print(B)

Jello, World!

In [12]:
a = "Hello "
b = "World"
c = a + " " + b #concatenates two strings
print(c)

Hello  World

In [13]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#this is a list 
L1 = [1,2,4,3,5,6]
L2 = [1,2,3,4,5,6]

In [3]:
List = [0,1,2,3,4,5] 

List[0:] 
print(List[0:]) #prints the whole list

List[:]
print(List[:]) #prints the whole list

List[2:4]
print(List[2:4]) #prints the 3rd and 4th element of the list

List[1:3]
print(List[1:3]) #prints the 2nd and 3rd element of the list

List[:4]
print(List[:4]) #prints the first 4 elements of the list

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[2, 3]
[1, 2]
[0, 1, 2, 3]

In [4]:
list = [1,2,3,4,5,6,7]
print(list[0]) #prints the first element of the list
print(list[1]) #prints the second element of the list
print(list[2]) #prints the third element of the list
print(list[3]) #prints the fourth element of the list
print(list[0:6]) #prints the whole list
print(list[:]) #prints the whole list
print(list[2:5]) #prints the 3rd, 4th and 5th element of the list
print(list[1:6:2]) #prints the 2nd, 4th and 6th element of the list

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [7]:
list = [1,2,3,4,5]
print(list[-1]) #prints the last element of the list
print(list[-3:]) #prints the last 3 elements of the list
print(list[:-1]) #prints the whole list except the last element
print(list[-3:-1]) #prints the 3rd and 4th element of the list 

list[2] = 6 #changes the 3rd element of the list to 6
print(list)

list[1:3] = [7,8] #changes the 2nd and 3rd element of the list to 7 and 8
print(list)

list[-1] = 9 #changes the last element of the list to 9
print(list)

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]
[1, 2, 6, 4, 5]
[1, 7, 8, 4, 5]
[1, 7, 8, 4, 9]

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange") #adds an element to the end of the list
print(thislist)
thislist.append("mango")
print(thislist)
thislist.append("kiwi")
print(thislist)
thislist.append("pineapple")
print(thislist)
thislist.append("pear")
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'mango']
['apple', 'banana', 'cherry', 'orange', 'mango', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'mango', 'kiwi', 'pineapple']
['apple', 'banana', 'cherry', 'orange', 'mango', 'kiwi', 'pineapple', 'pear']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange") #adds an element at a specific position
print(thislist)
thislist.insert(2, "mango") #adds an element at a specific position
print(thislist)
thislist.insert(3, "kiwi") #adds an element at a specific position
print(thislist)
thislist.insert(0, "pineapple") #adds an element at a specific position
print(thislist)

['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'mango', 'banana', 'cherry']
['apple', 'orange', 'mango', 'kiwi', 'banana', 'cherry']
['pineapple', 'apple', 'orange', 'mango', 'kiwi', 'banana', 'cherry']

In [14]:
#number 3 
# Ask the user to enter five names
names = input("Enter five names separated by commas: ")
name_list = names.split(",") #split the names into a list

if len(name_list) != 5: #check if the user entered five names
    print("You did not enter five names")
else:
    print(name_list)

['charity', ' mark', ' john', ' joy', ' jimmy']

In [4]:
#number 4

names_list = input("Enter a list of  names: ") #input the list of names
names = names_list.split(",") #split the names into a list
name_string = ", ".join(names) #join the names into a string
print(name_string) #print the string

charity, joy, wanja

In [3]:
mylist = [10, 20, 30, 40]
a = mylist[:-2]
print(a)

[10, 20]

In [4]:
result =  [1, 2, 3] + [4, 5]
print(result)

[1, 2, 3, 4, 5]

In [5]:
string =  "abcdef"
b = string[::2]
print(b)

ace

In [6]:
mylist = [10, 20, 30, 40]
mylist.append(50)
print(mylist)

[10, 20, 30, 40, 50]

In [3]:
thisTuple = ("apple", "banana", "cherry")
print(len(thisTuple))

3

In [6]:
thisTuple = ("apple", "banana", "cherry")
print(thisTuple[1])

banana

In [7]:
thisTuple = ("apple", "banana", "cherry")
print(thisTuple[-1])

cherry

In [8]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [9]:
thisTuple = ("apple", "banana", "cherry")
y = list(thisTuple)
y.append("orange")
thisTuple = tuple(y)
print(thisTuple)

('apple', 'banana', 'cherry', 'orange')

In [10]:
thisTuple = ("apple", "banana", "cherry")
y = ("orange",)
thisTuple += y
print(thisTuple)

('apple', 'banana', 'cherry', 'orange')

In [11]:
thisTuple = ("apple", "banana", "cherry")   
y = list(thisTuple)
y.remove("apple")
thisTuple = tuple(y)
print(thisTuple)

('banana', 'cherry')

In [13]:
thisTuple = ("apple", "banana", "cherry")
del thisTuple
print(thisTuple)

NameError: name 'thisTuple' is not defined

In [1]:
thisset = {'apple','banana','cherry'}
thisset.add('pineapple')
print(thisset)

{'pineapple', 'apple', 'banana', 'cherry'}

In [ ]:
#sets are unordered, so the items will appear in a random order
thisset = {'apple','banana','cherry'}
tropical = {'pineapple','mango','papaya'}
thisset.update(tropical)
print(thisset)

{'papaya', 'cherry', 'banana', 'mango', 'apple', 'pineapple'}

In [ ]:
thisset = {'apple','banana','cherry'}
thisset.remove('banana')
print(thisset)

#remove method raises an error if the element does not exist

{'apple', 'cherry'}

In [ ]:
thisset = {'apple','banana','cherry'}
thisset.discard('banana')
print(thisset)

#discard method does not raise an error if the element does not exist

{'apple', 'cherry'}

In [ ]:
thisset = {'apple','banana','cherry'}
x = thisset.pop() #removes the last item
print(x)

apple

In [ ]:
thisset = {'apple','banana','cherry'}
thisset.pop() #removes the last item
print(thisset)

{'banana', 'cherry'}

In [ ]:
thisset = {'apple','banana','cherry'}
thisset.clear() #empties the set
print(thisset)

set()

In [ ]:
#dictionaries are ordered, changeable and does not allow duplicates
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

#brand is the key and Ford is the value

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [10]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [16]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
student = {
    "name": "John",
    "branch": "IT",
    "course": "B.Tech"
}
S = len(student) #returns the number of items in the dictionary
print(S)

3

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "colors": ["red","white","blue"]
}
E = thisdict["colors"] #accesses the colors key
print(E)

['red', 'white', 'blue']

In [19]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.keys() #returns the keys
print(x)

car["color"] = "red" #adds a new key value pair

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [20]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.values() #returns the values
print(x)

car["year"] = 2020 #changes the value of the year key

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [21]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car)
car["model"] = "Fiesta" #changes the value of the model key
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Fiesta', 'year': 1964}

In [22]:
#update method updates the dictionary with the specified key value pairs
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.update({"color": "red"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [23]:
#pop method removes the item with the specified key name
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [24]:
#del method removes the item with the specified key name
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del car["model"]
print(car)

{'brand': 'Ford', 'year': 1964}

In [25]:
#del keyword can also delete the dictionary completely
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del car
print(car)

NameError: name 'car' is not defined

In [28]:
#copy method returns a copy of the dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
newdict = thisdict.copy()
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
# OR condition 
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [3]:
#nested if 
x = 41
if x > 10:
    print("Above ten")
    if x > 20:
        print("and also above 20")
    else:
        print("but not above 20")

Above ten
and also above 20

In [7]:
#check if a number is positive or negative
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

In [8]:
#pass statement
a = 33
b = 200
if b > a:
    pass

In [9]:
list = [4,3,5,6,7]
if list[0] > list[1]:
    print("sucess")
else:
    print("hello")

sucess

In [12]:
i =1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
#break statement
i = 1
while i < 6:
    i += 1
    if i == 3:
        break
    print(i)

2

In [ ]:
#continue statement
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
#else statement
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6